#connected-page{
    /* background-color: black; */
    background: url(../../public/assets/ianua-background.gif);
    background-size: cover;
background-repeat: no-repeat;
background-position: center;
}


#disconnect-wallet-form{
    position: absolute;
    height: 10vh;
    width: 100%;
    
}
#disconnect-wallet-button{
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 7%;

    height: min(5vh, 6vw);
    min-height: 30px;
    
    width: min(24vh, 24vw);
    min-width: 120px;
    
    border-style: solid;
    border-radius: 1px;
    border-width: 2px;
    border-color: grey;

    background-color: black;
    
    font-size: 110%;   
    
    


}
#disconnect-wallet-button:hover{
    
    background-color: var(--dark-city-green);
    color:black;
    
}

@media (max-width: 300px) {
    #disconnect-wallet-button{
        right: 50%;
        transform: translateX(50%);
    }
}