#menu-svg {
    z-index: -1;
}

#left-rectangle {
    fill: transparent;
    

}

#left-rectangle:hover  {
    fill: var(--dark-city-green);
    transition: 1s;
    filter: drop-shadow(0px 0px 300px var(--dark-city-green));
}


#right-rectangle {
    fill: transparent;

}

#right-rectangle:hover  {
    fill: var(--dark-city-green);
    transition: 1s;
    filter: drop-shadow(0px 0px 300px var(--dark-city-green));
}

#left-triangle {
    fill: transparent;
    
}

#left-triangle:hover  {
    fill: var(--dark-city-green);
    /* transform: translateX(-200px); */
    transition: 1s;

    filter: drop-shadow(0px 0px 300px var(--dark-city-green));
}



#right-triangle {
    fill: transparent;
}

#right-triangle:hover  {
    fill: var(--dark-city-green);
    /* transform: translateX(200px); */
    transition: 1s;

    filter: drop-shadow(0px 0px 300px var(--dark-city-green));
}

#middle-circle{
    /* fill: transparent;
    z-index: 10; */

   height:min(40vh, 40vw);
    width:min(40vh, 40vw);
     position:absolute; 
     background-color:transparent;
      top:50%;
      left:50% ;
      transform:translate(-50%, -50%); 
      border-radius:50%;
}
#middle-circle:hover{
    background-color: var(--dark-city-green);
    /* box-shadow:0px 0px 300px var(--dark-city-green); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.button-text{
    position: absolute;
    width: auto;
    font-size: 170%;
    background-color: black;
    border-color: grey;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    transform: translate(-50%, -50%);

    top:50%;
}


#text-shop{
    
    left:10%;
}
#text-blog{
    left:90%;
}
#text-ianua-ai{
    left:30%
}
#text-path-of-sol{
    left:70%
}
#text-home{
    left:50%
}

@media (max-aspect-ratio:3/2){
    #text-ianua-ai{
        top:25%;
        left:50%
    }
    #text-path-of-sol{
        top:80%;
        left:50%;
    }
    .button-text{
        font-size: 150%;
    }
}


